.jumbo-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 600px;
    min-height: 300px;
    width: 100dvw;
    position: relative;
    z-index: 1;
}
