{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@": "./src",
          "@JSP/": "./src/components/Pages/javascriptPrincipals",
          "@assets/": "./src/assets",
          "@components/": "./src/components",
          "@subComponents/": "./src/components/Sub_Components",
          "@react/": "./src/components/Pages/react",
            "@fundamentals/": "./src/components/Pages/fundamentals"
        }
      }
    ]
  ]
}
