@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Press+Start+2P&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.arrayMethodLinks {
  font-size: 1.4rem;
  text-align: start;
  text-decoration: solid;
  font-weight: bold;
}

.arrayMethodLinks:hover {
  text-decoration: underline;
}

.arrayMethodLinks:visited {
  font-weight: 400;
}

.arrayMethodTableofContents {
  font-size: 1rem;
  text-decoration: solid;
  margin: 0%;
  padding: 0%;
}

.article-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid black;
}

.card-max {
  width: auto;
  height: 350px;
}

.cardImageFormat {
  max-height: 200px;
}

.centeredTogether {
  text-align: center;
  justify-content: center;
  align-content: center;
}

.code-height {
  height: 100%;
}

.communityText {
  font-size: 1.1rem;
  text-align: start;
}

.customBoxShadow {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.58);
}

.fullyCentered {
  align-items: center;
  text-align: center;
}

.gitLogo {
  max-width: 300px;
  max-height: 300px;
}

.gitignoreLogoSize {
  max-width: 300px;
  max-height: 300px;
}

.graphicsMethods {
  text-align: center;
  font-size: 3rem;
}

.hero-logo {
  border-radius: 55px;
  background-color: black;
  max-width: 300px;
}

.hero-text {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Mukta", sans-serif;
  font-size: 2rem;
}

.homebrewLogo {
  max-width: 100px;
  max-height: 100px;
}

.html {
  scroll-behavior: smooth;
}

.indieFlower {
  font-family: "Indie Flower", cursive;
}

.instructionsFont {
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
}

.is-setup-list-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.jumbo-background {
  background-image: url("./assets/pexels-lukas-574069.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 500px;
  min-height: 300px;
  width: 100%;
  position: relative;
  z-index: -1;
}

.lato-font {
  font-family: "Lato", sans-serif;
}

.logoBackground {
  background-color: black;
  width: 200px;
}

.macSetupAppleLogo {
  max-width: 35px;
  max-height: 35px;
}

.macSetupHeader {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 5rem;
}

.maxWidth {
  max-width: 250px;
  max-height: 250px;
}

.maxWidthRowInitial {
  max-width: 600px;
}

.morpheus {
  width: 300px;
  height: auto;
  border-radius: 40px;
}

.mukataFont {
  font-family: "Mukta", sans-serif;
}

.objectPageLeadText {
  font-size: 1.5rem;
  text-align: start;
}

.PJ-terms {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  font-size: 0.9rem;
}

.PJ-terms dt {
  font-weight: bold;
  font-size: 1.25rem;
}

.pressStartFont {
  font-family: "Press Start 2P", cursive;
}
